* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  background: #F1F1F1;
}
/*
*
BREAK POINTS
*
*/
/*

usage

.map {

    .responsive(600px, {

        background: salmon;

    });
}

*/
/*
*
FONTS
*
*/
/*
*
COLORS
*
*/
.main {
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}
.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 2.5rem 5rem 0 5rem;
  justify-content: space-between;
  align-items: center;
  color: #3a3a3a;
  z-index: 9999;
}
.header_title {
  font-size: 2rem;
}
.header_navigation {
  display: flex;
  margin: 0 0 0 -40rem;
}
@media only screen and (max-width: 1080px) {
  .header_navigation {
    margin: 0 0 0 -15rem;
  }
}
.header_navigation-item {
  font-size: 1.5rem;
  margin: 0 4rem 0 0;
  text-transform: capitalize;
}
.carousel {
  clip-path: circle(50vw at 70% -15vw);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  max-height: 50rem;
  z-index: -9;
  overflow: visible;
}
@media only screen and (max-width: 1080px) {
  .carousel {
    clip-path: circle(50vw at 50% -1vw);
    justify-content: center;
    align-items: center;
    max-height: 55rem;
  }
}
.carousel.pink {
  background: #f5d3be;
}
.carousel.yellow {
  background: #f8f3aa;
}
.carousel.magenta {
  background: #fac3dd;
}
.carousel.violet {
  background: #f0bff6;
}
.carousel.brown {
  background: #fac59f;
}
.carousel.green {
  background: #a1faa9;
}
.carousel.aqua {
  background: #aaf8eb;
}
.carousel.blue {
  background: #bce1fa;
}
.carousel_circle {
  width: 56rem;
  height: 56rem;
  border-style: dashed;
  border-width: 2px;
  border-radius: 50%;
  margin: 12rem 11rem auto auto;
  position: relative;
  z-index: 9;
  overflow: visible;
  transition: all 0.45s;
}
@media only screen and (max-width: 1080px) {
  .carousel_circle {
    margin: 12rem auto auto auto;
  }
}
@media only screen and (max-width: 650px) {
  .carousel_circle {
    width: 36rem;
    height: 36rem;
  }
}
.carousel_circle.pink {
  border-color: #dd6a23;
}
.carousel_circle.yellow {
  border-color: #ddd012;
}
.carousel_circle.magenta {
  border-color: #ec1e80;
}
.carousel_circle.violet {
  border-color: #cb23e0;
}
.carousel_circle.brown {
  border-color: #db620b;
}
.carousel_circle.green {
  border-color: #0cdd1f;
}
.carousel_circle.aqua {
  border-color: #12ddbb;
}
.carousel_circle.blue {
  border-color: #1697ee;
}
.carousel_circle-item {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (max-width: 650px) {
  .carousel_circle-item {
    width: 8rem;
    height: 8rem;
  }
}
.carousel_circle-item.top {
  top: -4.5rem;
  left: 23.5rem;
  background-image: url(../../img/img-0.png);
}
@media only screen and (max-width: 650px) {
  .carousel_circle-item.top {
    top: -4rem;
    left: 14rem;
  }
}
.carousel_circle-item.top-left {
  top: 3.7rem;
  left: 3.7rem;
  background-image: url(../../img/img-1.png);
}
@media only screen and (max-width: 650px) {
  .carousel_circle-item.top-left {
    top: 1.27rem;
    left: 1.27rem;
  }
}
.carousel_circle-item.left {
  top: 23.5rem;
  left: -4.5rem;
  background-image: url(../../img/img-2.png);
}
@media only screen and (max-width: 650px) {
  .carousel_circle-item.left {
    left: -4rem;
    top: 14rem;
  }
}
.carousel_circle-item.bottom-left {
  bottom: 3.7rem;
  left: 3.7rem;
  background-image: url(../../img/img-3.png);
}
@media only screen and (max-width: 650px) {
  .carousel_circle-item.bottom-left {
    bottom: 1.27rem;
    left: 1.27rem;
  }
}
.carousel_circle-item.bottom {
  left: 23.5rem;
  bottom: -4.5rem;
  background-image: url(../../img/img-4.png);
}
@media only screen and (max-width: 650px) {
  .carousel_circle-item.bottom {
    bottom: -4rem;
    left: 14rem;
  }
}
.carousel_circle-item.bottom-right {
  bottom: 3.7rem;
  right: 3.7rem;
  background-image: url(../../img/img-5.png);
}
@media only screen and (max-width: 650px) {
  .carousel_circle-item.bottom-right {
    bottom: 1.27rem;
    right: 1.27rem;
  }
}
.carousel_circle-item.right {
  top: 23.5rem;
  right: -4.5rem;
  background-image: url(../../img/img-6.png);
}
@media only screen and (max-width: 650px) {
  .carousel_circle-item.right {
    right: -4rem;
    top: 14rem;
  }
}
.carousel_circle-item.top-right {
  top: 3.7rem;
  right: 3.7rem;
  background-image: url(../../img/img-7.png);
}
@media only screen and (max-width: 650px) {
  .carousel_circle-item.top-right {
    top: 1.27rem;
    right: 1.27rem;
  }
}
.bottom-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media only screen and (max-width: 1080px) {
  .bottom-section {
    flex-direction: column-reverse;
    justify-content: start;
    align-items: center;
  }
}
.description {
  padding: 5rem;
  margin-top: -27rem;
}
@media only screen and (max-width: 1080px) {
  .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
  }
}
.description_price {
  font-size: 4.8rem;
  margin: 0 0 2.5rem 0;
  font-weight: 600;
}
@media only screen and (max-width: 1080px) {
  .description_price {
    text-align: center;
    margin: 2rem 0 2.5rem 0;
  }
}
.description_price.pink {
  color: #dd6a23;
}
.description_price.yellow {
  color: #ddd012;
}
.description_price.magenta {
  color: #ec1e80;
}
.description_price.violet {
  color: #cb23e0;
}
.description_price.brown {
  color: #db620b;
}
.description_price.green {
  color: #0cdd1f;
}
.description_price.aqua {
  color: #12ddbb;
}
.description_price.blue {
  color: #1697ee;
}
.description_title {
  font-size: 4.2rem;
  font-weight: 500;
  color: #3a3a3a;
  text-transform: capitalize;
  max-width: 30rem;
  margin: 0 0 1.5rem 0;
}
@media only screen and (max-width: 1080px) {
  .description_title {
    text-align: center;
  }
}
.description_text {
  font-size: 1.3rem;
  color: #525252;
  margin: 0 0 3rem 0;
  max-width: 30rem;
}
@media only screen and (max-width: 1080px) {
  .description_text {
    text-align: center;
  }
}
.description_button {
  width: 15rem;
  border-radius: 10rem;
  height: 3.5rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.description_button-text {
  width: 10rem;
  min-width: 10rem;
  color: #fefefe;
  text-transform: capitalize;
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
}
.description_button.pink {
  background-color: #dd6a23;
}
.description_button.yellow {
  background-color: #ddd012;
}
.description_button.magenta {
  background-color: #ec1e80;
}
.description_button.violet {
  background-color: #cb23e0;
}
.description_button.brown {
  background-color: #db620b;
}
.description_button.green {
  background-color: #0cdd1f;
}
.description_button.aqua {
  background-color: #12ddbb;
}
.description_button.blue {
  background-color: #1697ee;
}
.controller {
  display: flex;
  flex-direction: row;
  margin: -20rem 9rem 0 0;
  z-index: 9999;
}
@media only screen and (max-width: 1080px) {
  .controller {
    justify-content: center;
    margin: -22rem 0 0 0;
  }
}
@media only screen and (max-width: 650px) {
  .controller {
    margin: -25rem 0 0 0;
  }
}
.controller_arrow {
  background: #fefefe;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 18rem;
  cursor: pointer;
  transition: all 0.3s;
}
@media only screen and (max-width: 650px) {
  .controller_arrow {
    margin-top: 10rem;
  }
}
.controller_arrow:hover {
  box-shadow: -2px 2px 15px -3px #525252;
}
.controller_arrow:active {
  transform: translateY(3px);
}
.controller_arrow.left {
  margin-right: 13rem;
}
@media only screen and (max-width: 650px) {
  .controller_arrow.left {
    margin-right: 8rem;
  }
}
.controller_arrow.right {
  margin-left: 13rem;
}
@media only screen and (max-width: 650px) {
  .controller_arrow.right {
    margin-left: 8rem;
  }
}
.controller_middle {
  width: 26rem;
  height: 26rem;
  padding: 0;
  border-radius: 50%;
  transition: all 0.5s;
  background-size: cover;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 650px) {
  .controller_middle {
    width: 18rem;
    height: 18rem;
  }
}
@keyframes textScale {
  0% {
    transform: scale(1, 1);
    opacity: 1;
    transform-origin: bottom left;
  }
  25% {
    transform: scale(0.5, 0.8);
    opacity: 0.4;
    transform-origin: bottom left;
  }
  50% {
    transform: scale(0, 0.5);
    opacity: 0;
    transform-origin: bottom left;
  }
  75% {
    transform: scale(0.8, 0.8);
    opacity: 0.4;
    transform-origin: top right;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
    transform-origin: top right;
  }
}
@keyframes buttonScale {
  0% {
    transform: scale(1, 1);
    opacity: 1;
    transform-origin: left;
  }
  25% {
    transform: scale(0.8, 0.6);
    opacity: 0.4;
    transform-origin: left;
  }
  50% {
    transform: scale(0, 0.8);
    opacity: 0;
    transform-origin: right;
  }
  75% {
    transform: scale(0.8, 0.6);
    opacity: 0.4;
    transform-origin: right;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
    transform-origin: right;
  }
}
#text-animate {
  animation: textScale 0.5s ease;
}
#button-animate {
  animation: buttonScale 0.5s ease;
}
.icon-location-shopping {
  width: 1.5rem;
  height: 1.5rem;
  fill: #3a3a3a;
}
.icon-arrow-down2 {
  width: 1.6rem;
  height: 1.6rem;
  fill: #f56623;
}
