/*
*
FONTS
*
*/

@main-font: 'Roboto', sans-serif;

/*
*
COLORS
*
*/

@bg-color: #F1F1F1;
@color-pink: rgb(245, 211, 190);
@color-primary: #3a3a3a;
@color-secondary: #525252;
@color-orange: #f56623;
@color-white: #fefefe;
@color-green: #a1faa9;
@color-aqua: #aaf8eb;
@color-magenta: #fac3dd;
@color-violet: #f0bff6;
@color-yellow: #f8f3aa;
@color-brown: #fac59f;
@color-blue: #bce1fa;